.gridItem {
  background-color: plum;
  padding: 20px;
  text-align: center;
  border-radius: 25px;
}
.deleteButton {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  text-align: right;
}
